# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
android/.gradle/
android/captures/
android/gradle/
android/key.properties
android/local.properties
*.iml

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Environment & secrets
.env
*.env
*.env.*

# Output & logs
*.log

# Node modules (if using web or JS tooling)
node_modules/